Flask==2.3.3
gunicorn==23.0.0
pillow==10.3.0
psutil==7.0.0
requests==2.32.3
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ultralytics==8.3.145
opencv-python-headless==4.7.0.72  # replaces opencv-python
--find-links https://download.pytorch.org/whl/torch_stable.html
